<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <%= translate('Dashboard') %>
        </h1>
        <!-- <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol> -->
    </div>
</div>


<%= render :partial => 'user_applications/panel' %>

<%= render :partial => 'feedbacks/panel' %>
