<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class='panel-title'><%= t('feedback_form.page_title.index') %></h3>
  </div>
  <div class="panel-body">
    <%= render partial: 'feedback_forms/index/panel_body' %>
  </div>
