<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title"><%= t('feedback_form.panel_title.workflow') %></h3>
  </div>
  <div class="panel-body">
    <%= render partial: 'feedback_forms/workflow/form_workflow', locals: {f: f}%>
  </div>
</div>
