<%= bootstrap_form_for :comment,
  :url => add_comment_user_application_feedback_path(@user_application, feedback),
  :remote => true, :format => 'js',
  :html => {:class => 'comment_form'} do |f| %>
<div class="input-group">
  <%= f.text_area :text, :class=>"form-control custom-control", :required => true, :placeholder =>  t('feedback.comment.placeholder'), hide_label: true %>
  <span class="submit input-group-addon btn">
      <%= link_to  t('feedback.comment.send'), 'javascript:;' %>
  </span>
</div>
<% end %>
