<h1 class="page-header"><%= @user_application.name %></h1>
<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">Feedbacks</h3>
  </div>
  <div class="panel-body">
      <div id="feedbacks_table" class="table-responsive">
        <%= render :partial => 'table' %>
      </div>

  </div>
</div>

<% content_for :body_end do %>
  <%= javascript_include_tag 'feedbacks' %>
<% end %>
