/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require select2
 *= require animate
 *= require magnific/main
 *= require pagination
 *= require users
 *= require user_applications
 *= require bootstrap_and_overrides
 *= require nprogress
 *= require nprogress-bootstrap
 *= require rails_bootstrap_forms
 *= require alertify.css
 *= require alertify-themes/semantic
 *= require_self

 *
*/

pre {
  border:none;
}

.screenshot_thumbnail {
  width: 250px;
  height: 80px;
}


@media(min-width:768px) {
  #nprogress .spinner {
    top: 55px;
    left: 235px
  }
}

// #wrapper.collapsed #nprogress .spinner {
//   top: 14px;
//   left: 15px
// }
//
// #nprogress .spinner {
//   top: 14px;
//   left: 5px
// }


#nprogress .spinner {
  z-index: 9999;
  left: 0;
  right: 0;
  top: 3px;
  bottom: 0;
  margin: 0 0;
  width: 100%;
  height:100%;
  background-color:lightblue;
  opacity: 0.3;
  padding: 0px;
}

#nprogress .spinner-icon {
   height:332px;
   width:332px;
   margin: 0 auto  0 auto;
   display: none;
 }

.preview_source {
	background-color: #ebf8ff;
	border-radius: 14px;
  height: auto;
}

*:focus {
    outline: 0 !important;
}

.feedback_detail {
  display: none;
}

a.close_panel, a.feedback_detail_link, tr.feedback_line {
  cursor: pointer;
}

.table-hover > tbody > tr.feedback_line:hover {
  background-color: #E0E7EA;
}

.comments_list {
    list-style: outside none none;
    padding-left: 0px;
}
.comments_list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.comments_list li.left .chat-body {
    margin-left: 60px;
}

.comments_list li.right .chat-body {
    margin-right: 60px;
}

.comments_list li .chat-body p {
    margin: 0px;
}

.comment-panel .panel-body {
    height: 150px;
    overflow-y: scroll;
}

.comments_list pre {
  background-color: #fefefe;
  white-space: pre-wrap;
  word-break: normal;
  width: 100%;
}

.comments_list li.right .chat-body pre {
    text-align: right;

}

form.comment_form .btn a:focus {
  text-decoration: underline;
}

form.comment_form .btn a {
  height: 100%;
  width: 100%;
  color: inherit;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}


.placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}
.tile {
    height: 100px;
}
