<tr id='feedback_form_<%= feedback_form.id.to_s %>'>
  <td><%= link_to feedback_form.name, url_for(feedback_target_feedback_form_path(feedback_form.feedback_target, feedback_form)) %></td>
  <td><%= render partial: 'feedback_forms/widget_js', locals: { feedback_form: feedback_form  }%></td>
  <td><%= actions_for(feedback_form) %></td>
</tr>
