<%= content_for :head do %>

<% end %>
<hr/>
  <p>Incluir o código abaixo nas páginas da aplicação <strong><%= @user_application.name %></strong></p>
  <pre class="preview_source">
    <code class="xhtml">
<%= render_js_include() %>
</code>
    <!-- <code class="language-javascript"><%#= render_code(@user_application) %></code> -->
  </pre>
