<%= content_for :head do %>
  <link href="/highlight/styles/atelier-lakeside.light.css" rel="stylesheet" />
  <style type="text/css">
  pre {
    border:none;
  }
  </style>
<% end %>
<hr/>
  <p>Incluir o código abaixo nas páginas da aplicação <strong><%= @user_application.name %></strong></p>
  <pre>
    <code class="xhtml">
<%= render_js_include() %>
&lt;script type=text/javascript&gt;
<%= render_code(@user_application) %>
&lt;/script&gt;</code>
    <!-- <code class="language-javascript"><%#= render_code(@user_application) %></code> -->
  </pre>
